* {
    margin: 0;
    padding: 0;
}


/* header starts */

header {
    background-color: #CABBB7;
    text-align: right;
    padding-top: 4em;
    padding-bottom: 4em;
    clear: both;
}

.logo1 {
    width: 37%;
    padding-right: 6.5em;
}

.one {
    font-family: sans-serif;
    font-size: 2em;
    position: absolute;
    left: 11%;
    top: 17%;
}


/*header ends*/


/*navbar starts*/

nav {
    color: #F0ECEC;
    background-color: #C65252;
    list-style: none;
    text-align: right;
    font-size: 2.5em;
    padding: 1em;
    padding-right: 2.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    position: sticky;
    top: 0;
}

li {
    display: inline;
}

li a {
    color: #F0ECEC;
    text-decoration: none;
    padding: 0.5em;
    word-spacing: 0.2em;
    font-family: sans-serif;
}


/*navbar ends*/


/* Contact form for contact.html starts*/

.heading {
    text-align: center;
    font-family: sans-serif;
    font-size: 4em;
    padding-top: 1.5em;
    padding-bottom: 0.2em;
    text-decoration: underline;
}

#contact {
    display: block;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
    font-family: sans-serif;
    font-size: 1.5em;
    width: 100%;
}

form>input {
    text-align: center;
}

textarea {
    text-align: center;
}

.button {
    background-color: #C65252;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 50%;
}


/* Contact form ends */


/* Main content blog.html starts */

#container {
    display: inline-block;
    padding: 2em;
}

#container>img {
    width: 30%;
    float: left;
    padding: 1em;
}

.article {
    text-align: justify;
    font-family: sans-serif;
}

.article>h1 {
    font-size: 2.5em;
}


/* Main content blog.html ends */


/* styling aboutme.html-start */

#aboutme {
    text-align: justify;
    text-align: center;
    padding: 2.5em;
    font-family: sans-serif;
    font-size: 1.5em;
}

.firstimg>img {
    width: 50%;
    height: 50%;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 1em;
    padding-left: 1em;
    margin-top: 2em;
    margin-bottom: 0.5em;
    box-shadow: 5px 5px 15px 5px #000000;
}

#mainheader>h1 {
    padding-top: 1.5em;
}

.mainarticle {
    padding: 2em;
    text-align: justify;
}

#ending {
    padding: 2em;
    text-align: center;
    text-decoration: underline;
    font-style: italic;
}


/* styling aboutme.html-end   */


/*footer starts*/

footer {
    font-family: sans-serif;
    background-color: #CABBB7;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2.5em;
    clear: both;
}

.logo2 {
    width: 20%;
    margin-top: 1.5em;
    margin-left: auto;
    margin-right: auto;
}